title{
    text-align: center;
}
h2{
    text-align:center;
    background-color:darkgrey;
}

body{
    background-color:lightcyan;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 18px;
}

header{
    background-color:lightcyan;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
}
img{
    display: block;
    margin: 0 auto;
    border: 1px solid ;
    max-width: 75%;
    height: auto;   
}

figure figcaption{
    text-align: center;
}

nav{
    background-color:lightcyan;
    float: left;
    width: 100%;
}

nav ol{
    list-style:decimal;
    margin-bottom: 0;
}

nav ol li{
    display:list-item;
    margin-right: 10px;
}

nav ol li a{
    padding: 5px 10px;

}

footer{
    background-color:black;
    color:#ffffff;
    padding: 10px 20px;
    text-align: right;
}